<div class="container">
    <h1 class="heading">Hey, you still here. Lets connect.</h1>
    <div class="contents" [ngClass]="{'flex-col': isScreenSizeLtMedium}">
    <div class="flex flex-col">
        <button mat-flat-button class="button">Contact info</button>
        <button mat-flat-button class="button">I have a query.</button>
    </div>
    <div class="flex flex-col">
      <a class="links">About this exquisite website</a>
      <a class="links">Credits and libraries</a>
      <a class="links">Disclaimer and copyright statement</a>
    </div>
    <div class="flex justify-center">
       <img class="image" src="./../../../assets/social/linkedin.png" height="32px" width="32px"/>
       <img class="image" src="./../../../assets/social/twitter.png" height="32px" width="32px"/>
       <img class="image" src="./../../../assets/social/instagram.png" height="32px" width="32px"/>
      </div>
    </div>

</div>