// #magazine, .text {
//   width: 425px;
//   height: 303px;
// }
#magazine .turn-page {
  background-color: #ccc;
}

.cover {
  cursor: pointer;
  background-color: #379683;
  border-radius: 0 24px 24px 0;
  .dark-cover {
    height: 100%;
    background-color: #05386b !important;
  }
  .heading {
    font-size: 42px;
    font-weight: 600;
    padding: 24px;
    line-height: 50px;
  }
}

.page {
  background-color: #ccc;
}

.back {
  background-color: brown;
  border-radius: 24px 0 0 24px;
}

.container {
  display: flex;
  justify-content: center;
  min-width: -webkit-fill-available;
  //   background-color: #af69ee;
  //   background-color: #c64b8c;
  // background-color: #80788d;
  background-color: #5cdb95;
  // height: 90vh;
  // min-height: 90vh;

  @media (min-width: 961px) {
    margin: 1em;
  }
  margin-bottom: 1em;
}

.page-2{
	border-radius: 24px 0 0 24px;
	// background-color: #ccc;
  background-image: url('./../../../assets/notebook/page-left2.png');
  background-repeat: no-repeat;
  background-size: contain;
  
}

.page-3{
	border-radius: 24px 0 0 24px;
	// background-color: #ccc;
  background-image: url('./../../../assets/notebook/page-right3.png');
  background-repeat: no-repeat;
  background-size: contain;
  
}