.heading {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .menu {
        padding: 0;
        margin:  0;
    }
}

.container-sidemenu {
    padding: 12px;
    width: 75vw;
    @media(min-width: 720px) {
        width: 20vw;
    }
}