<div class="p-6 lg:flex lg:flex-wrap h-screen">
    <div class="w-full lg:w-1/3">
        <mat-card
            class=" m-2 card bg-white/80 backdrop-blur-lg shadow-lg p-6 rounded-2xl transform transition-all duration-400 hover:shadow hover:-translate-y-2 bg-gradient-to-br from-green-300 to-green-200">
            <mat-card-title class="text-xl font-semibold text-gray-800">
                Impulse Classes
            </mat-card-title>
            <mat-card-content class="text-gray-700 mt-2">
                Developed a website for a coaching institute to enhance visibility, showcase achievements, and provide student services like batch timings.
            </mat-card-content>
            <mat-card-actions class="text-end mt-4">
                <a mat-button href="https://impulse-classes-guna.web.app/" target="_blank"
                    class="text-blue-600 font-medium flex items-center gap-1 transition-colors duration-300 hover:text-blue-800">
                    Visit <mat-icon class="">open_in_new</mat-icon>
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="w-full lg:w-1/3">
        <mat-card
            class="m-2 card bg-white/80 backdrop-blur-lg shadow-lg p-6 rounded-2xl transform transition-all duration-300 hover:shadow-2xl hover:-translate-y-2 bg-gradient-to-br from-green-300 to-green-200">
            <mat-card-title class="text-xl font-semibold text-gray-800">
                NextWeek Forecast
            </mat-card-title>
            <mat-card-content class="text-gray-700 mt-2">
                Web-app to help you identify the best days in the coming week based on weather conditions for a given location.
            </mat-card-content>
            <mat-card-actions class="text-end mt-4">
                <a mat-button href="https://nextweek-forecast.web.app/" target="_blank"
                    class="text-blue-600 font-medium flex items-center gap-1 transition-colors duration-300 hover:text-blue-800">
                    Visit <mat-icon class="">open_in_new</mat-icon>
                </a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>