.card {
    border-radius: 4px;
    // background-color: #18bc9c;
    color: white !important;
}

.mat-icon {
    height: 16px;
    width: 16px;
    font-size: 15px;
}

.mat-card-content {
    height: 2.3rem;
}