<p>
  <mat-toolbar class="custom-toolbar shadow-xl">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>

<div>
  <mat-card class="container">
    <img
      src="./../../../assets/pic-PhotoRoom2.png"
      class="image-resize"
    />
    <h1 class="my-description">
      Hello, greetings, and a hearty welcome. My name is Vishal Jain. For the
      past 2.2 years, I have been employed by Infosys. My specialization
      includes Angular and core Java.
    </h1>
  </mat-card>

  <!-- <mat-card class="container">
<h1>Loading</h1>
  </mat-card> -->
</div>
