<div>
  <mat-card class="container">
    <!-- <mat-card class="container2"> -->

    <img src="./../../../assets/avatar-hi.jpg" class="image-resize" />
    <h1 class="my-description">
      I’m Vishal, a software developer with {{newgenExpYears}} years at Newgen Softwares
      and 2.5 years at Infosys. I specialize in Angular and Core Java, with a passion for solving complex problems and staying updated on tech trends. Explore my work to see how I can bring value to your projects!
    </h1>
  </mat-card>

  <!-- <mat-card class="container">
<h1>Loading</h1>
  </mat-card> -->
</div>