.custom-toolbar {
  //   background-color: #37474f;
  //   color: #fff;
  height: 10vh;
}

.example-spacer {
  flex: 1 1 auto;
}

::ng-deep mat-dialog-container {
  background: transparent !important;
  overflow: hidden !important;
  padding: 0px !important;
  box-shadow: none !important;
//   display: flex !important;
  align-content: center !important;
}
