<div class="container">
    <mat-card class="mb-5">
        <h1 class="heading">Let’s Build Something Cool Together!</h1>
        <div class="contents" [ngClass]="{ 'flex-col': isScreenSizeLtMedium }">
            <div class="flex flex-col items-center mb-10">
                <mat-icon> email</mat-icon>
                {{ 'jainvishal258@gmail.com'}}<br />
            </div>
            <div class="flex flex-col items-center mb-10">
                <mat-icon>phone_in_talk</mat-icon>
                +91 9752043447<br />
            </div>
            <div class="flex flex-col items-center mb-10">
                <mat-icon> place</mat-icon>
                Greater Noida<br />
            </div>
        </div>

        <div id="queryForm">
            <iframe
                src="https://docs.google.com/forms/d/e/1FAIpQLSdVviA1Tn-YzwlwllA3VNUYfmntTvVbO0T-zu95FM_aRq1VJQ/viewform?embedded=true"
                frameborder="0" marginheight="0" marginwidth="0" height="672" style="width: 100%"
                class="embed-responsive">Loading…</iframe>

        </div>
    </mat-card>
    <mat-card>
        <div class="mb-10">
            <h1 class="heading" id="about">About this website</h1>
            This website serves as a showcase of my skills, projects, and experience as a web developer. It highlights
            my
            expertise in developing scalable web applications, particularly in the financial services domain, using
            Angular
            and other modern technologies. The purpose of this site is to provide potential employers, collaborators,
            and
            clients with insight into my technical abilities, innovative solutions, and passion for creating
            user-centric
            designs. Feel free to explore my work and get in touch for any collaboration opportunities!
        </div>

        <div class="mb-10">
            <h1 class="heading" id="credit">Credits</h1>
            This website is powered by various open-source libraries and frameworks, including Angular, Angular
            Material,
            Tailwind CSS, RxJS, Anime.js, Page Flip, and hosted on Firebase. A big thank you to all the creators and
            contributors for their amazing work!
        </div>

        <div class="mb-10">
            <h1 class="heading" id="disclaimer">Disclaimer</h1>
            Disclaimer: The information and content presented on this website are for informational and demonstration
            purposes only. While every effort is made to ensure accuracy, I am not responsible for any errors,
            omissions, or
            outdated information. The projects and code samples are solely for showcasing my skills and experience. Any
            third-party libraries or frameworks used are credited accordingly. For any questions or concerns, please
            feel
            free to contact me through the provided form.
        </div>
    </mat-card>
</div>