::ng-deep mat-dialog-container {
  background: transparent !important;
  overflow: hidden !important;
  padding: 0px !important;
  box-shadow: none !important;
//   display: flex !important;
  align-content: center !important;
}
